<li [ngClass]="{'list-group-item': true,
                'list-group-item-danger':isUserAnAdmin(),
                'list-group-item-success':!isUserAnAdmin()}">
  <h4 [ngStyle]="{color:getColorForAdmin()}">User first name: {{ userFirstName }} -- Last name: {{ getLastName() }} -- Role: {{ userRole }}
        <button class="btn btn-success"
                (click)="onSwitchUserToReader()"
                [disabled]="userRole === 'Reader'" >Switch to role Reader</button>
        <button class="btn btn-danger"
                (click)="onSwitchUserToAdmin()"
                [disabled]="userRole === 'Admin'" >Switch to role Admin</button>        
        <button [routerLink]="[id]" class="btn btn-primary">User details</button>
  </h4>

  <input type="text" class="form-control" [(ngModel)]="userFirstName">
</li>
