
<!--
        <li [routerLink]="[id]" [ngClass]="{'list-group-item': true,
                                'list-group-item-dark':isUserAnAdmin(),
                                'list-group-item-secondary':!isUserAnAdmin()}">
        <h4 [ngStyle]="{color:getColorForAdmin()}">User first name: {{ userFirstName }} -- Last name: {{ getLastName() }}
                <button class="btn btn-secondary"
                        (click)="onSwitchUserToReader()"
                        [disabled]="true" >Switch to role Reader</button>
                <button class="btn btn-dark"
                        (click)="onSwitchUserToAdmin()"
                        [disabled]="true" >Switch to role Admin</button>        
        </h4>
</li>
-->

<!--<input type="text" class="form-control" [(ngModel)]="userFirstName">-->

<!--{{ user }}  -->

        <tr [routerLink]="[id]">
                <td>{{ userFirstName }}</td>
                <td>{{ getLastName() }}</td>
                <td>{{ email }}</td>
                <td>{{ phoneNumber }}</td>
                <td>
                        <input type="date" data-date="" data-date-format="YYYY-MM-DD" value="{{ getBirthDate() }}" readonly>
                </td>
        </tr>
