<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>List of users: </h2>
      <ul class="list-group">
        <app-users [userName]="user1" [userLastName]="userLastName1"></app-users>
        <app-users [userName]="user2" [userLastName]="userLastName2"></app-users>
        <app-users [userName]="user3" [userLastName]="userLastName3"></app-users>
        <app-users [userName]="user4" [userLastName]="userLastName4"></app-users>
        <app-users [userName]="user5" [userLastName]="userLastName5"></app-users>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth" 
              (click)="onCreateUser()">Add a user</button>
    </div>
  </div>
</div>
