<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>List of users: </h2>

      <p>Update date: {{ lastUpdate | async | date: 'EEEE d MMMM y' | uppercase }}</p>

      <ul class="list-group">
        <app-users *ngFor="let user of users"
                   [userFirstName]="user.firstName"
                   [userLastName]="user.lastName"
                   [userRole]="user.role"></app-users>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth" 
              (click)="onCreateUser()">Add a user</button>
    </div>
  </div>
</div>
