<div class="container-fluid py-3" style="background-color: #e3f2fd;">
    <div class="row">
        <div class="col-md-3">
            <h5>Footer</h5></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
      <!--http://www.eatlogos.com/all_free_logos/png/vector_blue_eagle_logo.png-->        
        <div class="col-md-6">I stay at the bottom of the viewport! <span class="small"><br>Unless the page content pushes me further.</span></div>
        <div class="col-md-3"></div>
        <div class="col-md-3 text-right small align-self-end">
          <img src="https://github.com/agrimault-pro/user-mgt-config-repo/blob/master/img/logo_AG.png?raw=true" alt="logo_AG" height="100" width="100" class="text-right">
          ©2018 Grimault.
        </div>        
    </div>
</div>